.header{
display:flex;
justify-content:space-between;
align-items:center;
background:#0b3d91;
color:white;
padding:15px 40px;
}

.logo{
font-size:22px;
font-weight:bold;
}

.header nav a{
color:white;
text-decoration:none;
margin-left:20px;
font-weight:500;
}

.header nav a:hover{
text-decoration:underline;
}